*{
	margin: 0;
	padding:0;
}
body{
	padding-top: 10px;
	position:relative;
}
.all_bg{
	width:800px;
	height:600px;
	margin:0 auto;
}
#allCanvas{
	position:relative;
	width:800px;
	height:600px;
	margin:0px;
}
#canvas1{
	position:absolute;
	bottom:0;
	left:0;
	z-index: 1;
}
#canvas2{
	position:absolute;
	bottom:0;
	left:0;
	z-index: 0;
}
div#tip{
	position:absolute;
	width:300px;
	left:calc(50% - 100px);
	top:350px;
	z-index: 999;
	display: none;
}
div#tip button{
	width:100px;
	height:40px;
	border:none;
	border-radius: 5px;
	background:rgba(255,255,255,0.7);
	cursor:pointer;
	outline: none;

}
div#tip button:active{
	position:relative;
	top:1px;
}
div#tip button a{
	text-decoration: none;
	color:#000;
}
